@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont_Header';
  src: url('./assets/fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CustomFont_Paragraph';
  src: url('./assets/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.header-font {
  font-family: 'CustomFont_Header', sans-serif;
}

.p-font{
  font-family: 'CustomFont_Paragraph', sans-serif;
}

